html, body {
  font-family: 'Roboto', sans-serif;
  background-color: #EDF7F6;
}

body {
  font-family: 'Roboto', sans-serif !important;
}

.void {
  background-color: #0e0b16;
}

.fuschia {
  background-color: #a239ca;
}

.jewel {
  background-color: #4717f6;
}

.stark {
  color: #e7dfdd;
}

.raleway {
  font: 'Raleway';
}
