html {
  font-family: 'Epilogue', sans-serif;
  font-family: 'Kosugi Maru', sans-serif;
  font-family: 'Kumbh Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Raleway', sans-serif;
}

.void {
  background-color: #0e0b16;
}

.fuschia {
  background-color: #a239ca;
}

.jewel {
  background-color: #4717f6;
}

.stark {
  color: #e7dfdd;
}

.raleway {
  font: 'Raleway';
}
